body * {
    box-sizing: border-box;
    flex-shrink: 0;
}
body {
    font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC-Light, Microsoft YaHei, serif;
}
input {
    background-color: transparent;
    border: 0;
}
button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
}

button:active {
    opacity: 0.6;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.justify-start {
    display: flex;
    justify-content: flex-start;
}
.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}
.justify-evenly {
    display: flex;
    justify-content: space-evenly;
}
.justify-around {
    display: flex;
    justify-content: space-around;
}
.justify-between {
    display: flex;
    justify-content: space-between;
}
.align-start {
    display: flex;
    align-items: flex-start;
}
.align-center {
    display: flex;
    align-items: center;
}
.align-end {
    display: flex;
    align-items: flex-end;
}

.page {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 1440px;
    /*height: 1259px;*/
    overflow: hidden;
}

.image-hover-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
}

.image-hover-img {
    transition: transform 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.image-hover-wrapper:hover .image-hover-img {
    transform: scale(1.08);
}

.hover-info {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.image-hover-wrapper:hover .hover-info {
    opacity: 1;
    pointer-events: auto;
}

.hover-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hover-content {
    font-size: 16px;
}