.cases_box1 {
    width: 1440px;
    min-height: 1100px; /* 设置最小高度为1200px */
    margin-bottom: 1px;
    margin-top: 32px;
}

.cat_nav {
    /*width: 1200px;*/
    width: 220px;
    /*height: 580px;*/
    margin: 0px 0 0 120px;
}

.group_5 {
    width: 180px;
    height: 90px;
}

.text-wrapper_3 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 180px;
}

.text-wrapper_3.active {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    height: 48px;
    border: 1px solid rgba(255, 0, 0, 1);
    margin-top: 20px;
    width: 180px;
}

.text_5 {
    width: 74px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: PingFang SC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
    margin: 15px 0 0 53px;
}

.text_5.active {
    width: 74px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 0, 0, 1);
    font-size: 16px;
    font-family: PingFang SC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
    margin: 15px 0 0 53px;
}

.cases_content {
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    height: 280px;
    gap: 20px; /* 行间距、列间距都一致 */
}

