.nav_parent {
    height: 68px;
    background: url(https://lanhu-oss-2537-2.lanhuapp.com/FigmaDDSSlicePNG10e81f67622254e39025b7bbf13bc02c.png)
    100% no-repeat;
    background-size: 100% 100%;
    width: 1440px;
}

.nav_box {
    background-color: rgba(255, 255, 255, 1);
    width: 481px;
    height: 25px;
    margin: 23px 0 0 480px;
}


.nav_root {
    width: 36px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-family: PingFang SC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
}

.nav_cases {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-family: PingFang SC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-left: 151px;
}

.nav_about {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-family: PingFang SC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-left: 150px;
}

.box_7 {
    width: 38px;
    height: 4px;
    margin: 16px 0 0 479px;
}

.group_2 {
    background-color: rgba(255, 0, 0, 1);
    width: 38px;
    height: 4px;
}