.box_detail {
    width: 1440px;
    /*height: 2069px;*/
    margin-bottom: 1px;
}

.text_detail {
    width: 130px;
    height: 31px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 22px;
    font-family: PingFang SC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 32px 0 0 240px;
}

.text_detail_1 {
    width: 224px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(97, 97, 97, 1);
    font-size: 14px;
    font-family: PingFang SC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin: 4px 0 0 240px;
}

.block_2 {
    /*background-color: rgba(217, 217, 217, 1);*/
    width: 960px;
    margin: 32px 0 0 240px;
}

